@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');



/* cores */
:root {
    --cor-principal: #2231BF;
    --cor-secundaria-vermelho: #f64444;
}

::placeholder {
    font-style: italic;
    text-align: left;
    color: black;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 0 5em;
    background-color: white;
    align-items: center;
    font-family: 'Karla', sans-serif;
    height: 10vh;
    position: sticky;
    top: 0;
}



header img {
    height: 6vh;
}



nav>ul>li>a>img {
    height: 1.3vh;
    padding-left: 1em;
}

nav {
    display: flex;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bolder;
    display: flex;
    align-items: center;
}



nav ul {
    display: flex;
    list-style: none;
    margin-left: 2em;
    gap: 3em;
    text-transform: capitalize;
    align-items: center;

}



/* fim header -------------------------------------------------------------------------------------------------------------*/


/* primeira pagina  ----------------------------------------------------------------------------------------------------------*/

.container-home>div>img {
    height: 50vh;

}

#container-botoes button:hover{
    background-color: var(--cor-secundaria-vermelho);
    color: white;
    border: none;
}

#container-botoes button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    padding: 0.8em 2.5em;
    text-transform: capitalize;
    border: none;
    font-size: 1em;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
}

#container-logo {
    display: flex;
}


.container-home {
    background-color: var(--cor-principal);
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: calc(100vh - 10vh);
}


#content-frase {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

#container-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

#container-input img{
    margin-left: -3.4em;
    height: 3vh;
}

#container-input>input {
    border: none;
    border-radius: 20px;
    padding: 1em;
    background-color: white;
    border: 1px solid white;
    flex: 1;

}



.container-home span {
    font-size: 4em;
    font-weight: 700;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-style: italic;

}



/* segunda pagina ----------------------------------------------------------------------------------------------------------------------*/

.container-segundaPagina {
    display: flex;
    height: 100vh;
}


#content-segundaPagina {
    background-color: white;
    display: flex;
    align-items: center;
   justify-content: center;
 

}

#content-segundapagina,
#content-imgSegundapagina>img {
    height: 70vh;
}



#content-servicos {
    font-family: 'Montserrat', sans-serif;
    max-width: 25%;
    padding: 2em;
    margin-left:10%;
    box-shadow: 0px 0px 20px -11px var(--cor-secundaria-vermelho);
    border-radius: 20px;

}

#content-servicos h1 {
    font-weight: 700;
    font-size: 1.8em;
    text-align: left;
}

#content-servicos p {
    font-weight: 500;
    margin-top: 1em;
    text-align: justify;
    line-height: 1.5em;
    font-style: normal;

}

#content-servicos button {
    display: flex;
    align-items: center;
    margin-top: 1em;
    background-color: var(--cor-secundaria-vermelho);
    color: white;
    border: none;
    padding: 1em;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}


/* fim segunda pagina ---------------------------------------------------------------------------------------------*/


/* terceira pagina -----------------------------------------------------------------------------------------------*/

.container-terceirapagina {
    height: 100vh;
    background-color: var(--cor-principal);
    color: white;
    text-align: center;
    font-size: 4em;
}

/* fim terceira pagina ---------------------------------------------------------------------------------- */


/* quarta pagina -----------------------------------------------------------------------------------------------*/

.container-quartaPagina {
    font-family: 'Montserrat', sans-serif;
    height: calc(100vh - 10vh);
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: justify;
    padding: 5em;
}

#content-titulo{
    margin-bottom: 2%;
}

#content-titulo > h1{
  font-size: 2em;
}

  .question{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
  }

  .container-quartaPagina h1{
    text-transform: capitalize;
  }

  .espaco-img{
    margin-left: 2%;
  }





/* fim qaurta pagina ---------------------------------------------------------------------------------- */








/* responsivo iphone xr */

@media screen and (max-width:450px) {

    header {
        font-size: 7px;
    }

    .container-home span {
        font-size: 3em;

    }

    #container-botoes {
        display: none;
    }


    .container-home {
        background-color: var(--cor-principal);
        justify-content: center;
        height: 100%;
        padding: 7em 0;

    }


    nav ul {
        width: 100%;
        font-size: 1.5em;
        gap: 1em;
        margin-left: 10px;
    }


    nav>ul>li>a>img {
        display: none;
    }



    .container-home>div>img {
        display: none;
    }

    .container-segundaPagina {
       height: auto;
    }

    #content-servicos {
        font-family: 'Montserrat', sans-serif;
        border-radius: 20px;
        max-width: 100%;
        margin: 0;
      
    }


    #content-imgSegundapagina>img {
        display: none;
    }


    #content-servicos h1 {
        text-align: justify;
    }

    .container-home span {
        text-align: center;
       
    }

    #container-input {
       margin-top: .5em;
    }

    .container-quartaPagina {
      padding: 2em;


    }

    .question> img{
        display: none;
    }

  

    .espaco-img{
        margin-left: 0%;
        text-align: left;
        font-size: .8em;

    }

    #content-titulo{
        font-size: .8em;
    }

   
   
    
    
}


/* fim responsivo */