@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


/* cores */
:root {
    --cor-principal: #2231BF;
    --cor-secundaria-vermelho: #f64444;
}

::placeholder {
    font-style: italic;
    text-align: left;
    color: black;
}

#btnham{
    display: none;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 0 5em;
    background-color: white;
    align-items: center;
    font-family: 'Karla', sans-serif;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 999;
}



header img {
    height: 6vh;
}



nav>ul>li>a>img {
    height: 1.3vh;
    padding-left: 1em;
}

nav {
    display: flex;
   align-items: center;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bolder;
    display: flex;
    align-items: center;
}



nav ul {
    display: flex;
    list-style: none;
    margin-left: 2em;
    gap: 3em;
    text-transform: capitalize;
    align-items: center;

}



/* fim header -------------------------------------------------------------------------------------------------------------*/


/* primeira pagina  ----------------------------------------------------------------------------------------------------------*/

.container-home>div>img {
    height: 50vh;

}

#container-botoes button:hover {
    background-color: var(--cor-secundaria-vermelho);
    color: white;
    border: none;
}

#container-botoes button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    padding: 0.8em 2.5em;
    text-transform: capitalize;
    border: none;
    font-size: 1em;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
}

#container-logo {
    display: flex;
}


.container-home {
    background-color: var(--cor-principal);
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: calc(100vh - 10vh);
}


#content-frase {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

#container-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

#container-input > label > img {
    margin-left: -4em;
    height: 3vh;
}

#container-input>input {
    border: none;
    border-radius: 20px;
    padding: 1em;
    background-color: white;
    border: 1px solid white;
    flex: 1;

}




.container-home span {
    font-size: 4em;
    font-weight: 700;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-style: italic;

}



/* segunda pagina ----------------------------------------------------------------------------------------------------------------------*/

.container-segundaPagina {
    display: flex;
    height: 100vh;
}


#content-segundaPagina {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;


}

#content-segundapagina,
#content-imgSegundapagina>img {
    height: 70vh;
}



#content-servicos {
    font-family: 'Montserrat', sans-serif;
    max-width: 25%;
    padding: 2em;
    margin-left: 10%;
    box-shadow: 0px 0px 20px -11px var(--cor-secundaria-vermelho);
    border-radius: 20px;

}

#content-servicos h1 {
    font-weight: 700;
    font-size: 1.8em;
    text-align: left;
}

#content-servicos > button > img {
height: 3vh;
margin-left: 5%;
    
}

#content-servicos p {
    font-weight: 500;
    margin-top: 1em;
    text-align: justify;
    line-height: 1.5em;
    font-style: normal;

}

#content-servicos button {
    display: flex;
    align-items: center;
    margin-top: 1em;
    background-color: var(--cor-secundaria-vermelho);
    color: white;
    border: none;
    padding: 1em;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}


/* fim segunda pagina ---------------------------------------------------------------------------------------------*/


/* terceira pagina -----------------------------------------------------------------------------------------------*/

.container-terceirapagina {
    height: 100vh;
    background-color: var(--cor-principal);
    color: white;
    text-align: center;
    font-size: 4em;
}

/* fim terceira pagina ---------------------------------------------------------------------------------- */


/* quarta pagina -----------------------------------------------------------------------------------------------*/

.container-quartaPagina {
    font-family: 'Montserrat', sans-serif;
    min-height: calc(100vh - 10vh); /* botei min-height */
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: justify;
    padding: 5em;
}

#content-titulo {
    margin-bottom: 2%;
}

#content-titulo>h1 {
    font-size: 2em;
}

.question {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.container-quartaPagina h1 {
    text-transform: capitalize;
}

.espaco-img {
    margin-left: 2%;
}





/* fim qaurta pagina ---------------------------------------------------------------------------------- */


/*  pagina destinos ---------------------------------------------------------------------------------- */

.destinos {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 2em 5em;
    height: calc(100vh - 10vh);
    background-image: url(icon/bg.png);
    background-color: #2231BF;

}

.destinos > h1{
    font-size: 2em;
    font-family: 'Bebas Neue', sans-serif;
}



#content-estados {
    display: flex;
    align-items: center;
    padding-top: 2em;
   
}

.destinos > img{
height: 60vh;
float: right;

}

.container-estados > ul > li{
    display: flex;
    align-items: center;
    
    }

.container-estados > ul > li > img{
   height: 2vh;
    
    }

    .container-estados > ul {
        width: 15vw;
         
         }




.container-estados>ul>li:first-child {
    font-weight: bold;
    list-style: none;
    font-size: 1.2em;
}


.container-estados {

    display: flex;
    text-transform: uppercase;
    gap: 1.5em;
      

}



.container-estados>ul>li {
    padding: .3em;
}


#content-titulo{
    text-align: left;
    padding-bottom: 2em;
}

#content-titulo-destino{
    text-align: center;
    font-size: 2em;
}


/* fim destino pagina ---------------------------------------------------------------------------------- */


/* fim destino pagina ---------------------------------------------------------------------------------- */



/* Seção - Tipos de envio */
#tipos-de-envio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr;
    grid-column-gap: 20px;
    /* grid-row-gap: 30px; */
    justify-items: center;
    /* align-items: center; */
    /* min-height: 100vh; */
    background-color: #2231BF;
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* padding: 3em 3em 8em 3em; */
    padding: 5em;
}

#tipos-de-envio>h2 {
    grid-column: 1 / span 3;
    justify-self: center;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
}

#tipos-de-envio>div {
    background-color: white;
    color: black;
    border-radius: 15px;
    font-family: 'Karla', sans-serif;
    padding-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    width: 90%;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    /* height: 60%; */
}

.icones-transportes {
    display: flex;
    /* justify-content: end; */
    align-content: end;
    margin-bottom: 0px;
    padding-right: 50px;
}

#tipos-de-envio img:not(#truck) {
    width: 20%;
}

#truck {
    width: 40%;
}

#tipos-de-envio>div>h3 {
    font-size: 1.4em;
    color: #11388f;
    font-family: 'Bebas Neue', sans-serif;
    font-style: italic;
    /* margin-top: -10px; */
    padding-bottom: 0.7em;
}

.texto-vermelho {
    color: #f64444;
    font-size: 1.5em;
    padding-right: 5px;
    font-family: 'Bebas Neue', sans-serif;
}

#tipos-de-envio > div p {
    /* padding: 1em 1em 2em 0em; */
    /* background-color: red; */
    padding-bottom: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.9em;
    flex: 1;
    text-align: justify;
}

.info {
    padding-bottom: 1.5em;
    padding-left: 0.35em;
    padding-right: 0.35em;
    font-size: 1em;
    flex: 1;
    text-align: justify;
}



.saiba-mais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 20px;
    background-color: #f64444;
    width: 40%;
    text-align: center;
    color: white;
    padding: 1em;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#tipos-de-envio>div:first-of-type {
    justify-self: end;
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.6);
}

#tipos-de-envio>div:last-of-type {
    justify-self: start;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.6);
}


#tipos-de-envio>div:hover {
    transform: scale(1.02);
    opacity: 0.97;
}





/* Seção sobre a empresa */
#sobre-a-empresa {
    min-height: 100vh;
    /* margin-top: 10vh; */
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 5em 8em;
}

#sobre-a-empresa>h2 {
    padding-bottom: 4vh;
    margin-left: -2vw;
}

#sobre-a-empresa a {
    display: inline;
    color: #f64444;
}

#sobre-a-empresa > p {
    padding-bottom: 5vh;
    font-size: 0.9em;
    text-align: justify;
}

#sobre-a-empresa ul {
    padding-left: 3vw;
    font-size: 0.9em;
    padding-bottom: 5vh;
    margin-top: -2vh;
}

#sobre-a-empresa > img {
    width: 60%;
    margin: auto;
    display: block;
    margin-bottom: 10vh;
    border: 1px solid silver;
    padding: 10px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.6);
}

#foto-servicos {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* background-color: red; */
}

#foto-servicos > img{
    width: 30%;
    border: 1px solid silver;
    padding: 10px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
    margin-bottom: 10vh;
}



/* ultima seção - contato */
#entre-em-contato {
    min-height: 100vh;
    margin-top: 5vh;
    background-color: #2231BF;
    color: white;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    padding: 5em;
}

#entre-em-contato h2 {
    font-size: 2em;
    font-weight: 900;
    padding-bottom: 10px;
}

#entre-em-contato p {
    padding-top: 10px;
    padding-bottom: 10px;
}

#entre-em-contato > form {
    width: 50%;
    margin-left: 50%;
    padding-top: 40px;
}

#entre-em-contato form > div {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

#entre-em-contato form > div > label {
    font-size: 0.8em;
    padding-left: 15px;
    padding-bottom: 2px;
}

#entre-em-contato input, textarea {
    border: none;
    border-radius: 10px;
    padding: 0.75em;
    background-color: white;
    border: 1px solid white;
    margin-bottom: 15px;
}

#entre-em-contato button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    background-color: #f64444;
    width: 40%;
    text-align: center;
    color: white;
    padding: 1em;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

/* Parte do Footer */
footer {
    min-height: 95vh;
    background-color: white;
    display: grid;
    padding: 5em 5em 0em 5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 50px;
    font-family: 'Karla', sans-serif;
}

/* Todos os links das li a partir do segundo */
footer>ul>li:not(:first-child) a {
    font-weight: normal;
}

footer>img {
    width: 70%;
}

footer>ul {
    list-style-type: none;
}

/* Primeiro elemento li de uma ul */
footer>ul>li:first-child {
    font-weight: 800;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    transition: transform 0.5s;
    transform: translateX(0px);
}

/* O svg */
footer>ul>li:first-child svg {
    margin-left: 5px;
    color: mediumblue;
    transition: transform 0.7s;
}

footer>ul>li {
    padding: 5px;
    width: 80%;
    transition: font-weight linear 0.1s;
}

footer>p {
    grid-column: 1 / span 4;
    justify-self: center;
    font-size: 0.8em;
    padding-top: 10px;
}

footer a {
    display: inline;
}


/* Efeitos de Hover nos links principais do Footer */
footer>ul>li:first-child:hover {
    transform: translateX(10px);
}

footer>ul>li:first-child:hover svg {
    transform: translateX(5px) scale(1.5);
}

footer>ul>li:not(:first-child):hover a {
    font-weight: bold;
}







/* responsivo iphone xr */


@media screen and (max-width:450px) {

 


    .container-estados > img {
       display: none;
    }

    .destinos > h1 {
        font-size: 1.5em;
      
    }

    .destinos {
       height: 100%;
    }

  
    nav{
        display: none;
    }

    #btnham{
        display: block;
        cursor: pointer;
        padding: .4em;
        font-weight: bolder;
    }

    dialog{
        width: 100%;
        height: 15%;
        font-size: 2em;
        margin: auto;
        padding: 1em;
    }

    

    dialog button{
        float: right;
        cursor: pointer;
        padding: .3em;
    }

}


@media screen and (max-width:450px) {

    header {
        font-size: 7px;
  
    }


    .container-home span {
        font-size: 3em;
    }

    

    #container-botoes {
        display: none;
    
    }


    .container-home {
        background-color: var(--cor-principal);
        justify-content: center;
        height: 100%;
        padding: 7em 0;

    }

    nav > ul > li >a{
        text-decoration: underline;
    }




    nav>ul>li>a>img {
        display: none;
    }



    .container-home>div>img {
        display: none;
    }

    .container-segundaPagina {
        height: auto;
    }

    #content-servicos {
        font-family: 'Montserrat', sans-serif;
        border-radius: 20px;
        max-width: 100%;
        margin: 0;

    }

    #container-logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #content-titulo-destino{
        font-size: 1em;
    }

    #content-imgSegundapagina>img {
        display: none;
    }


    #content-servicos h1 {
        text-align: justify;
    }

    .container-home span {
        text-align: center;

    }

    #container-input {
        margin-top: .5em;
    }

    .container-quartaPagina {
        padding: 2em;
    }

    .question>img {
        display: none;
    }



    .espaco-img {
        margin-left: 0%;
        text-align: left;
        font-size: .8em;

    }

    #content-titulo {
        font-size: .8em;
    }

    

    #content-estados ul{
      width: 100%;
    }

    .container-estados > ul {
       list-style: none;
     }
 

    .container-estados {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .container-estados ul {
        padding: .5em;
    }

    #content-titulo {
        
        padding-bottom: 0;
    }



    /* Seção Tipos de Transportes */
    #tipos-de-envio {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        /* width: 90vw; */
        /* s */
        padding: 7em 3em;
    }

    #tipos-de-envio>h2 {
        font-size: 1.1em;
        padding-bottom: 5vh;
    }

    #tipos-de-envio>div {
        border-radius: 15px;
        padding: 1em 2em;
        font-family: 'Karla', sans-serif;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-bottom: 5vh;
    }

    #tipos-de-envio>div>h3 {
        font-size: 1.5em;
    }

    #tipos-de-envio .texto-vermelho {
        font-size: 1.2em;
    }

    #tipos-de-envio>div>p {
        font-size: 0.85em;
    }

    /* #tipos-de-envio img {
        display: none;
    } */

    .icones-transportes > img {
        display: none;
    }

    .saiba-mais {
        width: 50%;
        padding: 10px;
        font-size: 0.7em;
        margin: 0px;
    }


    /* Seção Sobre a Empresa */
    #sobre-a-empresa {
        margin: auto;
        min-height: 90vh;
        width: 90vw;
        padding: 3em 2em;
     
    }

    #sobre-a-empresa ul {
        padding: 10px;
    }
    #sobre-a-empresa > h2 {
        font-size: 1em;
        text-align: center;
    }

    #sobre-a-empresa li {
        font-size: 0.95em;
        padding-bottom: 10px;
    }

    #sobre-a-empresa p {
        padding-bottom: 40px;
        font-size: 0.85em;
    }

    #sobre-a-empresa img {
        display: none;
    }

    #foto-servicos {
        display: none;
    }

    

    /* Entre em Contato */
    #entre-em-contato {
        min-height: 90vh;
        /* margin-top: 70vh; arrumei aqui, no celular fica bom, no site fica ruim, aumentar padding-bottom da section de cima será? */
        padding: 2em;
        /* background-color: #12304c; */
    }

    #entre-em-contato > form {
        width: 90%;
        margin: auto;
        padding-top: 10%;
    }

    #entre-em-contato h2 {
        text-align: center;
        font-size: 1.1em;
        padding-bottom: 15%;
    }


    #entre-em-contato button {
        width: 100%;
    }

    

    /* Footer */

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 90vw; */
        padding-bottom: 2em;
    }

    footer>ul>li {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* tudo centralizado */
    }

    footer img {
        width: 70%;
    }

    footer>ul>li:first-child {
        margin-top: 10px;
        justify-content: center;
    }

    footer>ul>li>svg {
        display: none;
    }


}


/* fim responsivo */