*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    height: 5vh;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 3em;
}